.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  max-width: 400px;
  width: 40%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal h2 {
  margin-top: 0;
  font-size: 22px;
  color: #333;
  text-align: center;
}

.modal p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
  text-align: center;
  white-space: pre-line;
}

.modal button {
  margin: 10px 0;
  font-size: 18px;
}
