.score {
  color: darkblue;
  font-size: large;
}

.final-rows-container {
  justify-self: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 2px;
  row-gap: 2px;
  align-self: flex-end;
}
